a{
	text-decoration: none !important;
	color: black;
	font-size: 25px; 
}
span{
	color: red;
}
td{
	font-size: 20px;
	color: #1154d1;
}
#btn{
	background-color: #dfe65e;
	color: #a30d29;
	border-radius: 10px;
}
#btn:hover{
	background-color: #66c8d9;
}